body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.list-links {
    display: flex;
    margin: 0;
    gap: 8px;
    list-style-type: none;
}

#one {
    background-color: #1f2937;
    min-height: 400px;
    display: flex;
}

#one .text {
    color: #f9faf8;
}

a {
    text-decoration: none;
}