body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #1f2937;
    margin: 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.list-links {
    display: flex;
    margin: 0;
    gap: 32px;
    list-style-type: none;
    text-decoration: none;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 48px;
}

#one {
    background-color: #1f2937;
    min-height: 400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 32px;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

#one .text {
    color: #f9faf8;
}

.title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    max-width: 400px;
}

#title {
    font-size: 48px;
    font-weight: bold;
}

#title-subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}

.title-img {
    max-width: 600px;
    /* max-height: 300px; */
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header a {
    font-size: 18px;
}

#two {
    flex-direction: column;
    padding: 32px;
    padding-top: 16px;
    padding-bottom: 128px;
}

#two-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 16px;
    padding: 16px;
}

#photo-carousel {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.text.caption {
    color: #1f2937;
    text-align: center;
}

.photo-and-caption {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.photo-and-caption > img {
    border-radius: 8px;
    border: 4px solid #3882f6;
    width: 160px;
    height: 160px;
}

#three {
    display: flex;
}

.content.three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
}

.quote-attribution {
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
}